@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

.main {
    display: flex;
    height: 100vh;
}

.navbar {
    background-color: #421C1F;
    height: 100%;
    width: 15%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navbar .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .perfil img {
   width: 90px;
   padding-bottom: 10px;
   border-radius: 50px;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.navbar li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    font-size: 20px;
}

.navbar .agora a {
    color: #fb2020;
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1A;
}

.kpis {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    align-items: center;
}

.kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    border: 2px solid #E40A14;
    width: 300px;
    border-radius: 30px;
    height: 100px;
    justify-content: space-evenly;
    color: #fff;
}
    
.graficos {
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #fff;
    width: 500px;
    height: 350px;
    background-color: #4F4F4F;
    border-radius: 30px;
    color: #fff;
}