@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

.header .container {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: rgba(8, 14, 41, 0.214);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header .container img {
    width: 10%;
    padding-left: 5%;
}

.navbar {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}

.navbar a {
    color: #fff;
}

.agora {
    font-weight: 800;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #331618;
    color: #fff;
    width: 100%;
    height: 100vh;
}

.apresentacao .container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.apresentacao .container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.apresentacao-texto {
    z-index: 1;
    padding: 70px 120px 50px;
}

.apresentacao-texto h4 {
    font-size: 40px;
}

.apresentacao-texto h3 {
    font-size: 33px;
}

.apresentacao-texto span {
    color: #fb2020;
}

.apresentacao-texto h1 {
    font-size: 58px;
    color: #0cc0df;
}

.apresentacao-texto p {
    font-size: 26px;
    margin-top: 2%;
}

.btn {
    display: flex;
    width: 15%;
    padding: 10px 20px;
    background-color: #fff;
    color: #0d289e;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 19px;
}

.sobreST {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #421C1F;
    color: #fff;
    border-bottom: solid 3px rgba(3, 14, 41, 0.214);
}

.sobreST h1 {
    font-size: 40px;
    padding-bottom: 50px;
}

.sobreST .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobreST .texto {
    width: 50%;
    padding: 40px;
    font-size: 18px;
}

.sobreST img {
    height: 430px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 40px;
}

.personagens {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #421C1F;
    justify-content: space-evenly;
    overflow: hidden;
}

.ttl-personagens {
    color: #fff;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ttl-personagens span {
    color: #0dad2d;
}

.ttl-personagens p {
    font-size: 20px;
}

.carrossel {
    width: 100%;
}

.carrossel .container {
    display: flex;
    align-items: center;
    position: relative;
}

.conteudo {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.seta {
    position: absolute;
    top: 35%;
    z-index: 1000; /* FICA POR CIMA DE TUDO */
    cursor: pointer;
}

.seta img {
    height: 60px;
}

/* posicionamentos */
.seta.esquerda {
    left: 24px;
}

.seta.direita {
    right: 6px;
}

.carrossel .container .box {
    padding: 10px;
    background-color: #0cc0df;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    height: 300px;
    border-radius: 10px;
}

.box h3 {
    font-size: 25px;
    padding: 10px;
}

.box p {
    font-weight: 500;
    font-size: 20px;
}

.descubra {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../assets/imgs/mundoInvertido.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.descubra .container-fa, .descubra .container-corra {
    height: 40%;
    width: 80%;
    background-color: black;
    border-radius: 20px;
    border: solid 2px #421C1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.descubra .container-fa h2, .descubra .container-corra h2 {
    font-size: 30px;
}

.descubra .container-fa p, .descubra .container-corra p {
    font-size: 20px;
}

.descubra .container-fa input{
    border-radius: 20px;
    height: 20px;
}

.descubra .container-fa button, .descubra .container-corra a {
    background-color: #421C1F;
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
}

.descubra .container-fa button {
    height: 40px;
    width: 180px;
}

.descubra .container-corra a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 250px;
}

.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .container img {
    width: 150px;
}

.links {
    display: flex;
    margin-bottom: 40px;
}

.links li {
    padding: 10px 30px 20px 30px;
    color: #fff;
}

.links a {
    color: #fff;
}

.links a:hover {
    font-weight: 800;
    color: #fb2020;
    font-size: 18px;
}

.redes {
    display: flex;
    width: 5%;
    justify-content: space-between;
}

.redes img {
    width: 31px;
    height: 30px;
}

.redes img:hover {
    cursor: pointer;
}


/* CADASTRO */
.main {
    width: 100%;
    height: 100vh;
    background-color: #421C1F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-cad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-cad {
    height: 100vh;
    margin-right: auto;
}

.banner-cad img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-cad {
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}

/* voltar */
.row_voltar {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.div_voltar {
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.div_voltar:hover {
    transform: scale(1.1);
}

.card-cad {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 35px 25px;
    height: 100%;
    background-color: #331618;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #1d0d0f;
}

.card-cad h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    padding: 20px 20px 0px 20px;
}

/* SERVE PARA CADASTRO E LOGIN */
.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield span {
    margin-bottom: 10px;
}

.textfield #mostrarSenha {
    display: flex;
    flex-direction: row;
    width: 15%;
    padding-top: 2%;
    justify-content: center;
}

.textfield #mostrarSenha p {
    padding-left: 10%;
}

.btn-cad {
    width: 62%;
    padding: 16px 0px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #421C1F;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #1d0d0f;
}

#div_msgErro {
    color: red;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3px;
    text-align: center;
}

/* lOGIN */
.main {
    width: 100%;
    height: 100vh;
    background-color: #421C1F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_voltar {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.div_voltar {
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.div_voltar:hover {
    transform: scale(1.1);
}

.main-login {
    display: flex;
    align-items: center;
    height: 100vh;
}

.card-log {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 35px 25px;
    height: 65%;
    background-color: #331618;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #1d0d0f;
    margin-left: 20px;
}

.card-log h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    padding: 10px 20px 5px 20px;
}

.form-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.banner-log {
    display: flex;
    width: 50vw;
    height: 100%;
}

.banner-log img {
    width: 95%;
    height: 100%;
    margin-left: 60px;
}

.btn-log {
    width: 62%;
    padding: 16px 0px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #421C1F;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #1d0d0f;
}

.conta {
    margin-top: 20px;
}