@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

.header .container {
    display: flex;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 13%;
    align-items: center;
}

.header .container img {
    width: 10%;
    padding-left: 5%;
}

.navbar {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar li {
    padding: 20%;
}

